body {
    font-family: Arial;
    background: #121212;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.chat-container {
    width: 400px;
}

#chat {
    background: #1e1e1e;
    height: 400px;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
}

.message {
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #0b93f6;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
